<!-- Main Navigation -->
<nav id="navigation">
  <ul id="responsive">

    <li><a href="#">Find Work</a>
      <ul class="dropdown-nav">
        <li>
          <a [routerLink]="jobRoutes.basePath">Browse Jobs</a>
        </li>
        <li>
          <a [routerLink]="jobRoutes.jobMapsPath">Jobs near me</a>
        </li>
        <li>
          <a [routerLink]="companyRoutes.browseCompanyPath">Browse Companies</a>
        </li>
      </ul>
    </li>

    <li><a href="#">For Employers</a>
      <ul class="dropdown-nav">
        <li>
          <a [routerLink]="freelancerRoutes.browseFreelancerPath">Find a Freelancer</a>
        </li>
      </ul>
    </li>

    <li><a [routerLink]="jobRoutes.dashboardPath">Dashboard</a>
      <ul class="dropdown-nav">
        <li>
          <a [routerLink]="jobRoutes.dashboardPath">Dashboard</a>
        </li>
        <li>
          <a [routerLink]="dashboardRouters.dashboardMessage">Message</a>
        </li>
        <li>
          <a [routerLink]="dashboardRouters.dashboardSetting">Setting</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>