.titleJob {
    font-weight: 500;
    font-size  : 19px;
}
p {
    font-size: 15px;
    line-height: 27px;
}

.apply-now-popup{
    color: white !important;
    cursor: pointer;
}

.applied{
    background-color: #66676b;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    padding: 14px 20px;
    margin-bottom: 35px;
    box-shadow: 0 2px 8px rgba(102, 103, 107, 0.15);
    transition: 0.3s;
    display: block;
    color: white !important;
    cursor: no-drop;
}