<!-- Apply for a job popup
================================================== -->
	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
            <li style="float: right;"><a (click)="close(true)" class="close"><span class="material-icons">
				close
			</span></a></li>
			<li><a>Apply Now</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Attach File With CV</h3>
				</div>
					
				<!-- Form -->
				<form method="post" id="apply-now-form">

					<!-- <div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="name" id="name" placeholder="First and Last Name" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
					</div> -->

					<div class="input-with-icon-left">
						<textarea [(ngModel)]="message" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Message"></textarea>
					</div> 

					<div class="uploadButton">
						<input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload-cv" (change)="handleFileInput($event.target.files)" />
						<label class="uploadButton-button ripple-effect" for="upload-cv">Select File</label>
						<span *ngIf="fileToUpload == null" class="uploadButton-file-name">Upload your CV / resume relevant file. <br> Max. file size: 50 MB.</span>
						<span *ngIf="fileToUpload != null" class="uploadButton-file-name">{{fileToUpload?.name}}</span>
					</div>

				</form>
				
				<!-- Button -->
				<button class="button margin-top-35 full-width button-sliding-icon ripple-effect" (click)="onSubmit()" type="submit" form="apply-now-form">Apply Now <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
<!-- Apply for a job popup / End -->